<h3>Send Data Detail</h3>
<section>
    <label for="sendDataDetailSubject">Konu</label>
    <input id="sendDataDetailSubject" type="text">
    <label for="sendDataDetailHeader">Başlık</label>
    <input id="sendDataDetailHeader" type="text">
    <label for="sendDataDetailBody">İçerik</label>
    <input id="sendDataDetailBody" type="text">
</section>