<div id="sendDataJobFormContainerWizard">
    <h3>Send Data</h3>
    <section>
        <table>
            <tr>
                <td width="400px" >
                    <label for="sendDataTo">To</label>
                    <input type="text" id="sendDataTo"/>
                </td>
                <td width="400px">
                    <label for="sendDataReplyTo">ReplyTo</label>
                    <input type="text" id="sendDataReplyTo" />
                </td>
            </tr>
            <tr>
                <td width="400px" >
                    <label for="sendDataCc">Cc</label>
                    <input type="text" id="sendDataCc"/>
                </td>
                <td width="400px">
                    <label for="sendDataBcc">Bcc</label>
                    <input type="text" id="sendDataBcc" />
                </td>
            </tr>
        </table>
        <label for="sendDataSqlQuery">Sql Query</label>
        <input type="text" id="sendDataSqlQuery" />
        <label for="sendDataSqlQueryToField">Sql Query To Field</label>
        <input type="text" id="sendDataSqlQueryToField" />
        <label for="sendDataSqlQueryCcField">Sql Query Cc Field</label>
        <input type="text" id="sendDataSqlQueryCcField" />
        <label for="sendDataSqlQueryBccField">Sql Query Bcc Field</label>
        <input type="text" id="sendDataSqlQueryBccField" />
        <label for="sendDataSqlQueryReplyToField">Sql Query ReplyTo Field</label>
        <input type="text" id="sendDataSqlQueryReplyToField" />
        <label for="sendDataSqlQueryConStr">Sql Query Connection String</label>
        <input type="text" id="sendDataSqlQueryConStr" />
        <p></p>
        <label for="useSendDataDetailBodyForAll">Herkes icin ayrı ayrı gönder</label>
        <input type="checkbox" id="useSendDataDetailBodyForAll" />
    </section>
    <h3>Send Data Detail</h3>
    <section>
        <label for="sendDataDetailSubject">Konu</label>
        <input id="sendDataDetailSubject" type="text">
        <label for="sendDataDetailHeader">Başlık</label>
        <input id="sendDataDetailHeader" type="text">
        <label for="sendDataDetailContent">İçerik</label>
        <textarea id="sendDataDetailContent" cols="40" rows="5" style="resize: none;"></textarea>
        <label for="sendDataDetailFooter">Alt Bilgi</label>
        <input id="sendDataDetailFooter" type="text">
        <label for="sendDataDetailSqlQuery">Detail Sql Query</label>
        <input type="text" id="sendDataDetailSqlQuery" />
        <label for="sendDataDetailSqlQueryConStr">Detail Sql Query Connection String</label>
        <input type="text" id="sendDataDetailSqlQueryConStr" />
        <p></p>
        <label for="useSendDataDetailQueryForTemplate">Detay sorgu mail içeriğinde kullan</label>
        <input type="checkbox" id="useSendDataDetailQueryForTemplate" />
    </section>
</div>

<script type="text/javascript">

    function demo() {
        // code
        var $editor = $('#sendDataDetailContent');
        var intellisense = new TextBoxIntellisense('sendDataDetailContent');

        // set the filter mode to filter by using the 'contains' predefined function
        intellisense.getDecls().setFilterMode('contains');

        // add trigger when the user presses the `.` key or `ctrl+space`
        intellisense.addDeclarationTrigger({ keyCode: 190 }); // the `.` key
        intellisense.addDeclarationTrigger({ keyCode: 32, ctrlKey: true, preventDefault: true }); // `ctrl+space`

        // called when the declarations are triggered
        intellisense.onDeclaration(function (item) {
            var data = [
                { name: 'Item #1', value: '``Item #1``', documentation: 'The first item' },
                { name: 'Item #2', value: '``Item #2``', documentation: 'The second item' },
                { name: 'Item #3', value: '``Item #3``', documentation: 'The third item' },
                { name: 'Item #4', value: '``Item #4``', documentation: 'The fourth item' },
                { name: 'Item #5', value: '``Item #5``', documentation: 'The fifth item' },
                { name: 'Item #6', value: '``Item #6``', documentation: 'The sixth item' },
                { name: 'Item #7', value: '``Item #7``', documentation: 'The seventh item' },
                { name: 'Item #8', value: '``Item #8``', documentation: 'The eighth item' },
                { name: 'Item #9', value: '``Item #9``', documentation: 'The ningth item' },
                { name: 'Item #10', value: '``Item #10``', documentation: 'The tenth item' },
                { name: 'Item #11', value: '``Item #11``', documentation: 'The eleventh item' },
                { name: 'Item #12', value: '``Item #12``', documentation: 'The twelvth item' }
            ];
            intellisense.setDeclarations(data);
        });
    }

    $(function () {

        $("#sendDataJobFormContainerWizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            enableFinishButton: false
        });

    })

    function SetDataForSendDataJob(model) {
        if (model == undefined || model == null) {
            return;
        }

        $("#sendDataTo").val(model.To);
        $("#sendDataCc").val(model.Cc);
        $("#sendDataBcc").val(model.Bcc);
        $("#sendDataReplyTo").val(model.ReplyTo);
        $("#sendDataSqlQuery").val(model.SqlQuery);
        $("#sendDataSqlQueryToField").val(model.SqlQueryToField);
        $("#sendDataSqlQueryCcField").val(model.SqlQueryCcField);
        $("#sendDataSqlQueryBccField").val(model.SqlQueryBccField);
        $("#sendDataSqlQueryReplyToField").val(model.SqlQueryReplyToField);
        $("#sendDataSqlQueryConStr").val(model.SqlQueryConStr);
        $("#sendDataDetailSubject").val(model.DetailSubject);
        $("#sendDataDetailHeader").val(model.DetailHeader);
        $("#sendDataDetailContent").val(model.DetailContent);
        $("#sendDataDetailFooter").val(model.DetailFooter);
        $("#sendDataDetailSqlQuery").val(model.DetailSqlQuery);
        $("#sendDataDetailSqlQueryConStr").val(model.DetailSqlQueryConStr);

        if (model.DetailBodyForAll) {

            $('#useSendDataDetailBodyForAll').prop("checked", true);

        } else {

            $('#useSendDataDetailBodyForAll').prop("checked", false);

        }

        if (model.DetailQueryForTemplate) {

            $('#useSendDataDetailQueryForTemplate').prop("checked", true);

        } else {

            $('#useSendDataDetailQueryForTemplate').prop("checked", false);

        }

    }

    function GetDataForSendDataJob() {
        var to = $("#sendDataTo").val();
        var cc = $("#sendDataCc").val();
        var bcc = $("#sendDataBcc").val();
        var replyTo = $("#sendDataReplyTo").val();
        var sqlQuery = $("#sendDataSqlQuery").val();
        var sqlQueryToField = $("#sendDataSqlQueryToField").val();
        var sqlQueryCcField = $("#sendDataSqlQueryCcField").val();
        var sqlQueryBccField = $("#sendDataSqlQueryBccField").val();
        var sqlQueryReplyToField = $("#sendDataSqlQueryReplyToField").val();
        var sqlQueryConStr = $("#sendDataSqlQueryConStr").val();
        var detailBodyForAll = $("#useSendDataDetailBodyForAll").prop("checked");
        var detailSubject = $("#sendDataDetailSubject").val();
        var detailHeader = $("#sendDataDetailHeader").val();
        var detailContent = $("#sendDataDetailContent").val();
        var detailFooter = $("#sendDataDetailFooter").val();
        var detailSqlQuery = $("#sendDataDetailSqlQuery").val();
        var detailSqlQueryConStr = $("#sendDataDetailSqlQueryConStr").val();
        var detailQueryForTemplate = $("#useSendDataDetailQueryForTemplate").prop("checked");

        return {
            To: to, Cc: cc, Bcc: bcc, ReplyTo :replyTo, SqlQuery: sqlQuery, SqlQueryToField: sqlQueryToField, SqlQueryCcField: sqlQueryCcField, SqlQueryBccField: sqlQueryBccField, SqlQueryReplyToField:sqlQueryReplyToField, SqlQueryConStr: sqlQueryConStr,
            DetailBodyForAll: detailBodyForAll, DetailSubject: detailSubject, DetailHeader: detailHeader, DetailContent: detailContent, DetailFooter: detailFooter,
            DetailSqlQuery: detailSqlQuery, DetailSqlQueryConStr: detailSqlQueryConStr, DetailQueryForTemplate: detailQueryForTemplate
        };
    }

</script>
<script src="Content/Scripts/jquery.steps.min.js"></script>
<script src="Content/Scripts/lib/webintellisense.js"></script>
<script src="Content/Scripts/lib/webintellisense-textbox.js"></script>
<link href="Content/webintellisense.css" rel="stylesheet" />
<link rel="stylesheet" href="Content/jquery.steps.css" type="text/css" />
