<div id="webApiCallJobFormContainerWizard">
    <h3>Web Api Call</h3>
    <section>
        <label for="webApiCallUrl">Url</label>
        <input type="text" id="webApiCallUrl" />
        <span></span>
        <label for="webApiCallHttpMethod">Http Method</label>
        <select class="ui fluid dropdown allow-empty" id="httpmethod">
            <option value="">--- Not Set ---</option>
            <option value="get">Get</option>
            <option value="post">Post</option>
            <option value="put">Put</option>
            <option value="delete">Delete</option>
        </select>
        <span></span>
        <label for="webApiCallHttpMethodPrmTyp">Parameter Send Type</label>
        <select class="ui fluid dropdown allow-empty" id="webapicallhttpmethodprmtyp">
            <option value="">--- Not Set ---</option>
            <option value="url">Url</option>
            <option value="body">Body</option>
        </select>
        <span></span>
        <label for="webApiCallHttpMethodCntTyp">Content Type</label>
        <select class="ui fluid dropdown allow-empty" id="webApiCallHttpMethodCntTyp">
            <option value="">--- Not Set ---</option>
            <option value="application/json">JSON</option>
            <option value="text/plain">Text</option>
            <option value="text/html">Html</option>
        </select>
        <span></span>
        <label for="webApiCallHttpMethodParam">Parameters</label>
        <textarea id="webApiCallHttpMethodParam" cols="40" rows="5" style="resize: none;"></textarea>
        <span></span>
        <label for="webapicallhttpmethodhdr">Headers</label>
        <textarea id="webApiCallHttpMethodHeader" cols="40" rows="5" style="resize: none;"></textarea>
    </section>
</div>

<script type="text/javascript">

    $(function () {

        $("#webApiCallJobFormContainerWizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            enableFinishButton: false,
            titleTemplate: '#title#',
            onInit: function (event, current) {
                $('.actions > ul > li:first-child').attr('style', 'display:none');
            }
        });
        
    })

    function SetDataForWebApiCall(model) {
        $("#webApiCallUrl").val(model.WebApiCallUrl);
        $("#httpmethod").val(model.HttpMethod);
        $("#webapicallhttpmethodprmtyp").val(model.HttpMethodParamType);
        $("#webApiCallHttpMethodCntTyp").val(model.HttpMethodContentType);
        $("#webApiCallHttpMethodParam").val(model.HttpMethodParameter);
        $("#webApiCallHttpMethodHeader").val(model.HttpMethodHeader);
    }

    function GetDataForWebApiCall() { 
        var webApiCallUrl = $("#webApiCallUrl").val();
        var httpMethod = $("#httpmethod").val();
        var httpMethodParamType = $("#webapicallhttpmethodprmtyp").val();
        var httpMethodContentType = $("#webApiCallHttpMethodCntTyp").val();
        var httpMethodParameter = $("#webApiCallHttpMethodParam").val();
        var httpMethodHeader = $("#webApiCallHttpMethodHeader").val();

        return {
            WebApiCallUrl: webApiCallUrl, HttpMethod: httpMethod, HttpMethodParamType: httpMethodParamType,
            HttpMethodContentType: httpMethodContentType, HttpMethodHeader: httpMethodHeader, HttpMethodParameter: httpMethodParameter
        };
    }
</script>
<script src="Content/Scripts/jquery.steps.min.js"></script>
<link rel="stylesheet" href="Content/jquery.steps.css" type="text/css" />
