<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="c:\logs\log.txt">
  <extensions>
    <add assembly="NLog.Extended" />
    <add assembly="Gelf4NLog.Target"/>
  </extensions>
  <targets async ="true">
    <target name="graylog"
			    xsi:type="GrayLog"
			    hostip="192.168.5.48"
			    hostport="12201"
			    facility="LOGI_API"
	      >
    </target>
    <target name="database" type="Database">
      <connectionString>
        Data Source=192.168.5.43\LOGITEST,1434;Initial Catalog=QUARTZNETJOBDB;Persist Security Info=True;User ID=apiUser;Password=123456;MultipleActiveResultSets=True;Encrypt=False;Application Name=LOGIJOB;
      </connectionString>
      <commandText>
        INSERT INTO [dbo].[LG_MESSAGELOG]
        (
        [MESSAGELOGGUID]
        ,[LOGINID]
        ,[SOFTWAREID]
        ,[MESSAGELOGTYPE]
        ,[MESSAGELOGDESC]
        ,[MESSAGELOGDATE]
        ,[FORMNAME]
        ,[IP]
        ,[COMPUTERNAME]
        ,[ACTIVE]
        ,[MESSAGEDETAILS]
        ,[MSGLEVEL]
        ,[CREATEDBY]
        ,[CREATEDTIME]
        ,[MODIFIEDBY]
        ,[MODIFIEDTIME]
        )
        VALUES
        (
        newid()
        ,@LOGINID
        ,@SOFTWAREID
        ,@logger
        ,@message
        ,@time_stamp
        ,@FORMNAME
        ,@IP
        ,@machinename
        ,1 /*@ACTIVE*/
        ,@MESSAGEDETAILS
        ,@level
        ,1 /*@CREATEDBY*/
        ,GETDATE() /*@CREATEDTIME*/
        ,1 /*@MODIFIEDBY*/
        ,GETDATE()
        );
      </commandText>
      <parameter name="@LOGINID" layout="1"/>
      <parameter name="@SOFTWAREID" layout="1"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@FORMNAME" layout="${event-properties:item=RequestUri}"/>
      <parameter name="@IP" layout="::"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@MESSAGEDETAILS">
        <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="20"/>
      </parameter>
    </target>
    <target name="file" xsi:type="File"
         fileName="${basedir}/logs/logfile.txt"
         keepFileOpen="true"
         encoding="utf-8" >

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="graylog,database,file" />
  </rules>

</nlog>