<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueFileSectionHandler"/>
    <section name="slf" type="Slf.Config.SlfConfigurationSection, slf"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <slf>
    <factories>
      <!-- configure single NLog factory, which will get all logging output -->
      <!-- Important: Set a reference to the NLog facade library to make sure it will be available at runtime -->
      <factory name="nlog" type="SLF.NLogFacade.NLogLoggerFactory, SLF.NLogFacade"/>
    </factories>
    <loggers>
      <!-- declare the default logger -->
      <logger factory="nlog"/>
    </loggers>
  </slf>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.plugin.recentHistory.type" value="Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory"/>
    <add key="quartz.plugin.recentHistory.storeType" value="Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory"/>
  </quartz>
  <connectionStrings>
    <!--<add name="QUARTZNETJOBDB" connectionString="Data Source=127.0.0.1,1000;Integrated Security=True;Initial Catalog=QUARTZNETJOBDB;UID=sa;PWD=I@mJustT3st1ing;Integrated Security=False;Application Name=LLOGIJOB" providerName="System.Data.SqlClient" />-->
    <add name="QUARTZNETJOBDB" connectionString="Data Source=192.168.5.43\LOGITEST,1434;Initial Catalog=QUARTZNETJOBDB;Persist Security Info=True;User ID=apiUser;Password=123456;MultipleActiveResultSets=True;Encrypt=False;Application Name=LOGIJOB" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>